body{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(16, 78, 248);
}
li.todo-item{
    background-color: lightsteelblue;
    border-bottom: 1px solid lightslategray;
}

i.fa-xmark{
    cursor: pointer;
}